.errors{
    color: red;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(background_pattern.svg);
    background-size: contain;
    font-family: Tahoma;
}
.app-area{
    align-self: center;
    background: #f09413;
    border-radius: 50px;
    padding: 20px 50px 50px 50px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    max-height: 800px;
    min-width: 40%;
}
.main-menu-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}
button:hover{
    cursor: grab;
}
button{
    font-size: 18px;
    background: #3361cf;
    color: white;
    padding: 15px;
    border-radius: 20px;
    border: none;
    width: auto;
}
.main-menu-buttons button{
    padding: 30px;
    border-radius: 40px;
}
table{
    font-size: 18px;
    background-color: darkgray;
    border: none;
    border-radius: 20px;
    border-spacing: 1px;
}
th, td, tr{
    padding-right: 15px;
    padding-left: 15px;
}
th{
    background-color: #3361cf;
}
tr{
    background-color: white;
    color: darkgray;
}
th:first-of-type {
    border-top-left-radius: 15px;
}
th:last-of-type {
    border-top-right-radius: 15px;
}
tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 15px;
}
tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 15px;
}
.dog-table .row.header {
    color: #fff;
    background-color: #3361cf;
    border: none;
    margin: 0;
}
select{
    border: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 15px;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-content: space-around;
}
input{
    font-size: 18px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    border: none;
}
input:focus{
    border: darkgray;
}
.form-element{
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}
.app-area h1, h2, p, label{
    color: white;
}
.return-button{
    position: absolute;
    left:15px;
    top: 15px;
}