<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Dog - Dog Shelter</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="app-area">
    <h2>Add Dog</h2>
    <h3>Enter dog details:</h3>
    <form action="#" th:action="@{/addDog}" th:object="${dog}" method="post">
        <div>
            <label for="name">Enter dog name: </label>
            <input type=text th:field="*{name}" id="name"><br>
            <p th:if="${#fields.hasErrors('name')}" class="errors">Name must be beetwen 2 and 20 characters long</p>
        </div>
        <div>
            <label for="date-of-birth">Estimated date of birth: </label>
            <input type="date" th:field="*{dateOfBirth}" id="date-of-birth"><br>
            <p th:if="${#fields.hasErrors('dateOfBirth')}" class="errors">Incorrect date of birth</p>
        </div>
        <div>
            <label for="dog-breed">Select dog breed: </label>
            <select th:field="*{dogBreed}" id="dog-breed">
                <option th:each="breed : ${T(com.example.dogshelter.models.enums.DogBreed).values()}"
                        th:value="${breed}"
                        th:text="${breed.displayValue}"></option>
            </select><br>
        </div>
        <input type=submit value="Add Dog"><br>
    </form>
</div>
</body>
</html>