<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adopt Dog - Dog Shelter</title>
    <meta charset="UTF-8">
    <title>Add CSS and JS to Thymeleaf</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="app-area">
    <h2>Avalible Dogs:</h2>
    <table class="dog-table">
        <tr class="row header">
            <th>Dog ID</th>
            <th>Breed</th>
            <th>Date of birth</th>
            <th>Name</th>
            <th>In shelter since</th>
        </tr>
        <tbody>
        <tr th:if="${dogs.empty}" class="empty-table">
            <td colspan="5">Dog shelter is empty</td>
        </tr>
        <tr th:each="d: ${dogs}" class="row content-row">
            <td th:text="${d.id}"/>
            <td th:text="${d.dogBreed.displayValue}"/>
            <td th:text="${#temporals.format(d.getdateOfBirth(),'dd/MM/yyyy')}"></td>
            <td th:text="${d.name}"/>
            <td th:text="${#temporals.format(d.inShelterSinceWhen,'dd/MM/yyyy')}"></td>
        </tr>
        </tbody>
    </table>
    <h2>Choose your dog</h2>
    <form action="#" th:action="@{/adoptDog}" method="post">
        <label for="dog-id">Enter dog ID</label>
        <input type="number" id="dog-id" th:name="id">
        <p th:if="${errorMessage}" class="errors">Wrong ID. Choose dog from list above with appropriate ID</p>
        <input type="submit">
    </form>
</div>
</body>
</html>