<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adopt Dog - Dog Shelter</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="shortcut icon" type="image/ico" th:href="@{/images/favicon.ico}"/>
</head>
<body>
<div class="app-area">
    <div class="return-button">
        <form action="/">
            <input type="image" src="images/back-arrow.svg" alt="return" width="40" height="40">
        </form>
    </div>
    <div class="header">
        <h1>Adopt Dog</h1>
        <h2>Available Dogs:</h2>
    </div>
    <table class="dog-table">
        <tr class="row header">
            <th>Dog ID</th>
            <th>Breed</th>
            <th>Date of birth</th>
            <th>Name</th>
            <th>In shelter since</th>
        </tr>
        <tbody>
        <tr th:if="${dogs.isEmpty()}" class="empty-table">
            <td colspan="5">Dog shelter is empty</td>
        </tr>
        <tr th:each="d: ${dogs}" class="row content-row">
            <td th:text="${d.id}"/>
            <td th:text="${d.dogBreed.displayValue}"/>
            <td th:text="${#temporals.format(d.getDateOfBirth(),'dd/MM/yyyy')}"></td>
            <td th:text="${d.name}"/>
            <td th:text="${#temporals.format(d.inShelterSinceWhen,'dd/MM/yyyy')}"></td>
        </tr>
        </tbody>
    </table>
    <div class="adopt-dog-form-field">
        <br>
        <div th:if="${dogs.isEmpty()}">
            <form action="/">
                <button>Return to main menu</button>
            </form>
        </div>
        <div th:unless="${dogs.isEmpty()}">
            <h2>Choose your dog</h2>
            <form action="#" th:action="@{/adoptDog}" method="post">
                <div class="form-element">
                    <label for="dog-id">Enter dog ID</label>
                    <input type="number" id="dog-id" th:name="id">
                    <p th:if="${errorMessage}" class="errors">Wrong ID. Choose dog from list above with appropriate
                        ID</p>
                </div>
                <button>Submit</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>