<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View All Dogs - Dog Shelter</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="shortcut icon" type="image/ico" th:href="@{/images/favicon.ico}"/>
</head>
<body>
<div class="app-area">
  <div class="return-button">
    <form action="/">
      <input type="image" src="images/back-arrow.svg" alt="return" width="40" height="40">
    </form>
  </div>
  <div class="header">
    <h1>Dog Shelter App</h1>
  </div>
  <h2 th:if="${message}" th:text="${message}"/>
  <div class="menu-buttons">
    <form action="/">
      <button>Return to main menu</button>
    </form>
  </div>
</div>
</body>
</html>