<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Dogs - Dog Shelter</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="shortcut icon" type="image/ico" th:href="@{/images/favicon.ico}"/>
</head>
<body>
<div class="app-area">
    <div class="return-button">
        <form action="/">
            <input type="image" src="images/back-arrow.svg" alt="Submit" width="40" height="40">
        </form>
    </div>
    <div class="header">
        <h1>Dog Shelter App</h1>
        <h2>List of dogs:</h2>
    </div>
    <table class="dog-table">
        <tr class="row header">
            <th>Dog ID</th>
            <th>Breed</th>
            <th>Date of birth</th>
            <th>Name</th>
            <th>Was Addopted</th>
        </tr>
        <tbody>
        <tr th:if="${dogs.empty}">
            <td colspan="5">Dog shelter is empty</td>
        </tr>
        <tr th:each="d: ${dogs}">
            <td th:text="${d.id}"/>
            <td th:text="${d.dogBreed.displayValue}"/>
            <td th:text="${#temporals.format(d.getdateOfBirth(),'dd/MM/yyyy')}"></td>
            <td th:text="${d.name}"/>
            <td th:text="${d.adopted} ? 'YES' : 'NO'"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>