<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Dogs - Dog Shelter</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="app-area">
    <table class="table table-bordered table-striped">
        <tr>
            <th>Dog ID</th>
            <th>Breed</th>
            <th>Date of birth</th>
            <th>Name</th>
            <th>Was Addopted</th>
        </tr>
        <tbody>
        <tr th:if="${dogs.empty}">
            <td colspan="5">Dog shelter is empty</td>
        </tr>
        <tr th:each="d: ${dogs}">
            <td th:text="${d.id}"/>
            <td th:text="${d.dogBreed.displayValue}"/>
            <td th:text="${#temporals.format(d.getdateOfBirth(),'dd/MM/yyyy')}"></td>
            <td th:text="${d.name}"/>
            <td th:text="${d.adopted} ? 'YES' : 'NO'"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>